.main-404 {
  max-width: 100%;
  min-height: var(--theme-404-content-height-mobile, none);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 15px;
  margin-top: var(--theme-section-spacing-custom-top, var(--theme-section-spacing-top));
  margin-bottom: var(--theme-section-spacing-custom-bottom, var(--theme-section-spacing-bottom));
}
.main-404.content-align-center {
  margin-left: auto;
  margin-right: auto;
}
.main-404.content-align-right {
  margin-left: auto;
  margin-right: 0;
}
.main-404-text {
  max-width: var(--theme-404-text-width, 100%);
  margin-top: 0;
  margin-bottom: 0;
}
.main-404-button {
  margin-top: 20px;
}
.main-404-button.has-custom-width {
  width: var(--theme-404-button-width, 200px);
}
@media (min-width: 768px) {
  .main-404 {
    min-height: var(--theme-404-content-height-desktop, none);
  }
}