:root {
  --theme-color-dark-gray: #635436;
  --theme-color-alert-error: #FC4F4F;
  --theme-body-font-size: clamp(0.875rem, 3.5vw, 1rem);
  --theme-body-font-size-small: clamp(0.75rem, 3vw, 0.875rem);
  --theme-body-font-size-large: clamp(1rem, 4vw, 1.125rem);
  --theme-body-font-size-x-large: clamp(1.125rem, 4.5vw, 1.25rem);
  --theme-body-letter-spacing: 0.01em;
  --theme-body-line-height: 1.6;
  --theme-heading-font-size-h1: 1.75rem;
  --theme-heading-font-size-h2: 1.5rem;
  --theme-heading-font-size-h3: 1.375rem;
  --theme-heading-font-size-h4: 1.25rem;
  --theme-heading-font-size-h5: 1.125rem;
  --theme-heading-font-size-h6: 1rem;
  --theme-heading-font-size-special-small: clamp(1.625rem, 6vw, 2rem);
  --theme-heading-font-size-special-normal: clamp(1.75rem, 7vw, 2.25rem);
  --theme-heading-font-size-special-large: clamp(2.4rem, 10vw, 3rem);
  --theme-heading-letter-spacing: -0.02em;
  --theme-heading-line-height: 1.4;
  --theme-special-letter-spacing: -0.02em;
  --theme-special-line-height: 1.2;
  --theme-layout-margin: clamp(var(--theme-layout-margin-mobile), 5vw, var(--theme-layout-margin-desktop));
  --theme-button-line-height: 1.2;
  --theme-button-padding-level-1: calc(var(--theme-button-padding-base) * 2/3) calc(var(--theme-button-padding-base) * 4/3);
  --theme-button-padding-level-2: var(--theme-button-padding-base) calc(var(--theme-button-padding-base) * 2);
  --theme-button-padding-level-3: calc(var(--theme-button-padding-base) * 4/3) calc(var(--theme-button-padding-base) * 8/3);
  --theme-spacing-level-1: calc(var(--theme-spacing-base, 6vh) * 0.5);
  --theme-spacing-level-2: calc(var(--theme-spacing-base, 6vh) * 0.75);
  --theme-spacing-level-3: var(--theme-spacing-base, 6vh);
  --theme-spacing-level-4: calc(var(--theme-spacing-base, 6vh) * 1.25);
  --theme-spacing-level-5: calc(var(--theme-spacing-base, 6vh) * 1.5);
  --theme-gap-level-1: clamp(calc(var(--theme-gap-base, var(--theme-gap-base, var(--theme-gap-base, 2rem))) * 0.25), 5vw, calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 0.25));
  --theme-gap-level-2: clamp(calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 0.375), 5vw, calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 0.5));
  --theme-gap-level-3: clamp(calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 0.5), 5vw, calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 0.75));
  --theme-gap-level-4: clamp(calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 0.625), 5vw, var(--theme-gap-base, var(--theme-gap-base, 2rem)));
  --theme-gap-level-5: clamp(calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 0.75), 5vw, calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 1.5));
  --theme-gap-level-6: clamp(calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 0.875), 5vw, calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 2.25));
  --theme-gap-level-7: clamp(var(--theme-gap-base, var(--theme-gap-base, 2rem)), 5vw, calc(var(--theme-gap-base, var(--theme-gap-base, 2rem)) * 3));
  --theme-section-content-padding-level-1: clamp( 1rem, 5vw, 1rem);
  --theme-section-content-padding-level-2: clamp( 1.25rem, 5vw, 1.5rem);
  --theme-section-content-padding-level-3: clamp( 1.5rem, 5vw, 2rem);
  --theme-section-content-padding-level-4: clamp( 1.75rem, 5vw, 3rem);
  --theme-section-content-padding-level-5: clamp( 2rem, 5vw, 4.5rem);
  --theme-block-content-padding-level-1: clamp( 1rem, 5vw, 1rem);
  --theme-block-content-padding-level-2: clamp( 1.25rem, 5vw, 1.5rem);
  --theme-block-content-padding-level-3: clamp( 1.5rem, 5vw, 2rem);
  --theme-block-content-padding-level-4: clamp( 1.75rem, 5vw, 3rem);
  --theme-block-content-padding-level-5: clamp( 2rem, 5vw, 4.5rem);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-layout-background-color);
  margin: 0 auto;
  font-family: var(--theme-body-font-family);
  font-size: var(--theme-body-font-size);
  letter-spacing: var(--theme-body-letter-spacing);
  line-height: var(--theme-body-line-height);
}

b,
strong {
  font-weight: var(--theme-font-weight-semibold);
  letter-spacing: var(--theme-heading-letter-spacing);
  font-variation-settings: "wght" var(--theme-font-weight-semibold);
}

h1, h2, h3, h5, h6 {
  font-family: 'gravesend-sans' !important;
  color: var(--theme-color-heading);
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: var(--theme-heading-line-height);
  font-weight: var(--theme-heading-font-weight);
  letter-spacing: var(--theme-heading-letter-spacing);
  font-variation-settings: "wght" var(--theme-heading-font-weight);
}

h1, h2 {
  margin-bottom: 1em;
}

h1 {
  font-size: var(--theme-heading-font-size-h1);
}

h2 {
  font-size: var(--theme-heading-font-size-h2);
}

h3 {
  font-size: var(--theme-heading-font-size-h3);
}

h4 {
  font-size: 32px;
  font-family: "Evafiya-Bold" !important;
}

h5 {
  font-size: var(--theme-heading-font-size-h5);
}

h6 {
  font-size: var(--theme-heading-font-size-h6);
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

blockquote {
  font-size: var(--theme-heading-font-size-special-normal);
  font-family: 'neue-haas-grotesk-display' !important;
  font-weight: 500;
  letter-spacing: var(--theme-special-letter-spacing);
  font-variation-settings: "wght" var(--theme-special-font-weight);
}

blockquote:before {
  content: open-quote;
  position: absolute;
  margin-left: -45px;
  font-size: 9rem;
  margin-top: -60px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  text-align: left;
  font-weight: var(--theme-font-weight-semibold);
  letter-spacing: var(--theme-heading-letter-spacing);
  font-variation-settings: "wght" var(--theme-font-weight-semibold);
}

table th, table td {
  padding: 10px;
  border: 1px solid;
  border-color: var(--theme-border-color-gray);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: var(--theme-body-font-size);
  color: inherit;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
select {
  height: 52px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
select {
  display: block;
  margin-bottom: 12px;
  padding: 10px 12px;
  line-height: 1.2;
  background-color: var(--theme-secondary-background-color);
  border: 0;
}

input[type=text]:focus-visible,
input[type=email]:focus-visible,
input[type=url]:focus-visible,
input[type=password]:focus-visible,
input[type=search]:focus-visible,
input[type=number]:focus-visible,
input[type=tel]:focus-visible,
input[type=range]:focus-visible,
input[type=date]:focus-visible,
input[type=month]:focus-visible,
input[type=week]:focus-visible,
input[type=time]:focus-visible,
input[type=datetime]:focus-visible,
input[type=datetime-local]:focus-visible,
input[type=color]:focus-visible,
select:focus-visible {
  box-shadow: none;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

button {
  font-weight: normal;
  padding: var(--theme-button-padding-level-2, 0.9em 1.8em);
  line-height: var(--theme-button-line-height, 1.2);
  color: inherit;
  border-radius: var(--theme-button-border-radius, 0);
  border-width: var(--theme-button-border-width, 1px);
  border-style: solid;
  border-color: currentColor;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.6;
  cursor: initial;
}

textarea {
  width: 100%;
  background-color: var(--theme-secondary-background-color);
  padding: 0.7em 0.7em;
  line-height: var(--theme-body-line-height);
  border: 0;
}

del {
  text-decoration-thickness: 1px;
}

a {
  color: var(--theme-color-primary);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25ch;
}

a:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

p img {
  margin-left: 5px;
  margin-right: 5px;
}

ul li {
  margin-bottom: 10px;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.overflow-hidden {
  overflow: hidden;
}

.skip-to-content-link:focus {
  z-index: 9999;
  position: inherit;
  overflow: auto;
  width: auto;
  height: auto;
  clip: auto;
}

*:focus-visible {
  outline: 0.2rem auto var(--theme-border-color-black);
  outline-offset: 2px;
}

