/* good good */
.video-player {
	position: relative;
	width: 100%; /* Make sure the video takes up 100% of its container */
	display: block;
}
.video-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section-image-with-text-container-video {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

.section-video-player-with-text {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-content-container {
	flex: 0 0 50%; /* Make the video container take up 50% of the width */
	max-width: 50%; /* Ensure the video container doesn't exceed 50% */
	position: relative;
}

.text-content-container {
	flex: 0 0 50%; /* Make the text container take up 50% of the width */
	max-width: 50%; /* Ensure the text container doesn't exceed 50% */
	padding: 0 20px; /* Optional: Add some padding to the text container */
}

.clicked {
	display: none;
}

/* Media Query for Desktops */
@media screen and (min-width: 801px) {
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.text-content-container {
		flex: 0 0 50%; /* Make the text container take up 50% of the width */
		max-width: 50%; /* Ensure the text container doesn't exceed 50% */
		padding: 0 20px; /* Optional: Add some padding to the text container */
	}
	.section-image-with-text-content-video {
		display: block;
	}
}
@media screen and (max-width: 800px) {
	.section-image-with-text-container-video {
		display: flex;
		flex-direction: column;
		margin: auto;
	}

	video {
		width: 100%;
	}
	.section-video-player-with-text {
		width: 100%;
	}

	.text-content-container {
		flex: 0 0 90%; /* Make the text container take up 90% of the width */
		max-width: 100%; /* Ensure the text container doesn't exceed 90% */
		padding: 0 20px;
	}
}
